<section class="grey joinKeypad">
	<input placeholder="..." span class="joinInput input"></input>
</section>
<footer class="keys">
	<button class="button key"><a>1</a></button>
	<button class="button key"><a>2</a></button>
	<button class="button key"><a>3</a></button>
	<button class="button key"><a>4</a></button>
	<button class="button key"><a>5</a></button>
	<button class="button key"><a>6</a></button>
	<button class="button key"><a>7</a></button>
	<button class="button key"><a>8</a></button>
	<button class="button key"><a>9</a></button>
</footer>
