<div>
<style>
#sketchpad {
    cursor: default;
    background-color: #ecf0f1;
}

/*Drawing Board Styles*/
.board {
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 0;
}
.tools {
	position: fixed;
	top: 50%;
	right: 10px;
	width: 100px;
	background-color: rgba(0,0,0,0);
	margin: 0;
	margin-top: -175px;
	transition: 1s ease;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	z-index: 1000000;
}
.color:hover {
    width: 45px;
    height: 45px;
    margin: 5px auto;
}
.tool {
	width: 100%;
	height: 12%;
}

.color {
	border-radius: 100px;
	width: 35px;
	height: 35px;
	margin: 15px auto;
}
.canvasarea {
	width: 100%;
	height: 100%;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    overflow: auto;
}
</style>


<div class="canvasarea">
    <canvas id="sketchpad" data-hook="pad" width="2000" height="1000"></canvas>
</div>

<section class="board">
    <menu class="tools">
        <img data-color="#2c3e50" class="tool" src="assets/draw.svg"/>
        <img data-color="#ecf0f1" class="tool" src="assets/erase.svg"/>
        <div data-color="#9b59b6" style="background-color:#9b59b6" class="color"></div>
        <div data-color="#3498db" style="background-color:#3498db" class="color"></div>
        <div data-color="#27ae60" style="background-color:#27ae60" class="color"></div>
        <div data-color="#f1c40f" style="background-color:#f1c40f" class="color"></div>
        <div data-color="#e74c3c" style="background-color:#e74c3c" class="color"></div>
    </menu>
</section>


</div>
