<main>
    <line></line>
    <section class="grey start">
        <a>Start a worktable!</a>
        <button class="startInput input" data-hook="start">Start</button>
    </section>
    <section class="grey join">
        <a>Join your friends!</a>
        <input placeholder="..." class="joinInput input" data-hook="join"></input>
    </section>
    <footer>
        <div class="block melon"><img src="images/melon.svg"/></div>
        <div class="block thumbdrive"><img src="images/drive.svg"/></div>
        <div class="block drawingboard"><img src="images/drawboard.svg"/></div>
        <div class="block todo"><img src="images/todo.svg"/></div>
        <div class="block brainstorm"><img src="images/brainstorm.svg"/></div>
        <div class="block talk"><img src="images/talk.svg"/></div>
    </footer>
</main>
