<main class="startScreen">
    <line></line>
    <section class="grey start">
        <a>Start a worktable!</a>
        <button class="green startInput input" data-hook="start">Get going!</button>
    </section>
    <section class="grey join">
        <a>Join your friends!</a>
        <input placeholder="••••••" class="joinInput input" data-hook="join" maxlength="6"></input>
    </section>
    <footer>
        <div class="block melon"><img src="assets/melon.svg"/></div>
        <div class="block thumbdrive"><img src="assets/drive.svg"/></div>
        <div class="block drawingboard"><img src="assets/drawboard.svg"/></div>
        <div class="block todo"><img src="assets/todo.svg"/></div>
        <div class="block brainstorm"><img src="assets/brainstorm.svg"/></div>
        <!--<div class="block talk"><img src="assets/talk.svg"/></div>-->
    </footer>
</main>
