<div class="loadingPage">
    <div class="loadingRep">
        <div class="loadingIcon">
            <img src="assets/bouncy.svg"/>
        </div>
        <div class="loadingText">
            <h1 class="connectingSession" data-hook="title">
                CONNECTING YOUR SESSION
            </h1>
            <h1 class="funnyTag" data-hook="funny">
                YOUR TABLE MIGHT BE LOADING...
            </h1>
            <h1 class="updateData" data-hook="status">
                - Stuff that is happening
            </h1>
        </div>
    </div>
</div>
