<div>
    <main class="mainArea" data-hook="main">
        <!--Stuff designed and made elsewhere (to be added / linked in)-->
    </main>
    <menu class="sidebar">
        <input type="file" class="shadow"/>
        <button data-hook="thumbdrive"   class="flat sidebarOne   thumbdrive"><img src="assets/drive.svg"/></button>
        <button data-hook="drawingboard" class="flat sidebarTwo   drawingboard"><img src="assets/drawboard.svg"/></button>
        <button data-hook="todo"         class="flat sidebarThree todo"><img src="assets/todo.svg"/></button>
        <button data-hook="brainstorm"   class="flat sidebarFour  brainstorm"><img src="assets/brainstorm.svg"/></button>
        <!--<button data-hook="talk"         class="flat sidebarFive  talk"><img src="assets/talk.svg"/></button>-->
        <div class="sidebarSix   resize"></div>
        <button data-hook="melon"           class="flat sidebarSeven melon"><img src="assets/melon.svg"/></button>
    </menu>
</div>
