body{
margin: 0px;
padding: 0px;
font-family: fira sans;
}

.elementHeader{
	background-color:#1abc9c;
}

.elementTitle{
	text-color:#fffff;
}


.loadingPage{
background-color:#34495e;
}

.loadingIcon{
position: absolute;
top:12.5%;
left: 12%;
margin-top:0px;
z-index: 99999;
}

.loadingIcon img{
height: 78%;
animation-name: rotate;
animation-duration: 1.5s;
animation-iteration-count: infinite;
animation-timing-function: linear;


}
@keyframes rotate {
	from{
		transform: rotate(0deg) translate(5px);
	}
	to{
		transform: rotate(360deg) translate(5px);
	}
}

.connectingSession{
position:absolute;
top: 18%;
left: 35%;
color:#fff;
font-size:1.75vw;
}

.funnyTag{
position:absolute;
top:25%;
left: 35%;
color: #fff;
font-size:3.25vw;
}

.updateData{
position:absolute;
top: 60%;
left: 35%;
color: #fff;
font-size:1vw;
font-weight: 300;
font-style: italic;
}

.loadingRep{
width:85%;
height:35%;
position:relative;
top:35%;
background-color:#2ecc71;

z-index:0;
}

.melonIcon{
position:absolute;
top:70%;
left: 80%;
height:30%;
width:20%;
}

.melonIcon img{
height: 100%;
width: 100%;
}