body{
margin: 0px;
padding: 0px;
font-family: fira sans;
}

.elementHeader{
	background-color:#1abc9c;
}

.elementTitle{
	text-color:#fffff;
}


.loadingPage{
background-color:#34495e;
}

.loadingIcon{
position: absolute;
background-color:#c0392b;
top:12.5%;
left: 12%;
margin-top:0px;
height:75%;
width: 20%;
}



.connectingSession{
position:absolute;
top: 12.5%;
left: 35%;
color:#fff;
font-size:24px;
}

.funnyTag{
position:absolute;
top:25%;
left: 35%;
color: #fff;
font-size:40px;
}

.updateData{
position:absolute;
top: 60%;
left: 35%;
color: #fff;
font-size:12px;
}

.loadingRep{
width:85%;
height:35%;
position:relative;
top:50%;
margin-top:-10%;
background-color:#2ecc71;
}

.melonIcon{
position:absolute;
top:80%;
left: 87%;
background-color:#fff;
height:15%;
width:10%;
}