body {
	margin:0;
	padding:0;
	color: white;
	font-family: fira sans;
	font-weight: 300;
	overflow: none;
}

.title a {margin-top: 10px;}
.title img {
	margin-bottom:-58px;
	width: 15%;
}
.title {
	font-size: 120px;
	font-weight: 200;
	margin: auto;
	padding-top:5%;
	text-align: center;
	color: white;
	z-index: 100;
}

/*Devider line: only on melon*/
line {
	position: absolute;
	top: 35%;
	bottom: 35%;
	right: 50%;
	border: 3px solid #DDD;
	z-index: 100;
	transition: .75 ease;
}

/*grey background, inputs, and text*/
.startArea {
	background-color: #2c3e50;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}
.grey {
	top: 38%;
	bottom: 0;
	position: fixed;
	display: block;
	font-size: 40px;
	
	overflow: auto;
}
.joinText{
	margin-right:19%;
	transition: .75s ease;
}
.joinButton input {
	position: relative;
	top: 25%;
}

.start {
	left: 0;
	right: 50%;
	width: 50%;
}
.join {
	right: 0;
	left: 50%;
	width: 50%;
	transition: .25s ease;
}
.startColumn {
	
}

a {
	margin: 10px auto;
	width: 75%;
	display: block;
	text-align:center;
}
.failText {
	color: red;
	font-size: 20px;
	display: none;
}
input.failed ~ .failText {
	display: block;
}
input.failed{
	background-color: #e74c3c;
}
input {
	width: 75%;
	margin: auto;
	padding: 1%;
	display: block;
	font-size: 100%;
	height: 35%;
	border: 0px;
	color: black;
	text-align: center;
}

input:focus {
	outline-width: 0;
}

.startInput{
	transition: .75s ease;
}

.startButton{
	width: 85%;
	margin: 0 auto;
	margin-right:0;
	padding: 1%;
	display: block;
	height: 22%;
	color: white;
	font-size: 100%;
	border: 0px;
	text-align: center;
	background-color:#54a977;
}

.joinButton{
	position:relative;
	background-color:#526baa;
	width: 85%;
	margin-top:0;
	margin: 0 auto;
	margin-left: 0;
	height: 22%;
	display:block;
}

.startText{
	margin-left: 19%;
}

.startButton:focus{
background-color:#7ece9e;
outline-width:0;
}

/*Footer button like things on the melon page*/
footer, .footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15%;
}
.block {
	width: 16.666666666667%;
	height: 85%;
	padding: 0;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	float: left;
	border-top: 15px solid rgba(0,0,0,.3);
}


/*generic button style*/
.button {
	border-bottom: 0px;
	border: 0;
	margin: 0;
	outline: 0;
}
.button:hover {
	box-shadow: 0 -10px 0 rgba(0,0,0,.5) inset;
}
.button:active {
	padding-top: -15px;
	box-shadow: 0 5px 0 rgba(0,0,0,.5) inset;
	border: 0;
}


/*generic color styles*/
img {height: 80%; width: 80%; padding: 0;}
.melon {
	background-color: #c0392b;
	border-color: #c0392b;
}
.drawingboard {
	background-color: #f39c12;
	border-color: #f39c12;
}
.thumbdrive {
	background-color: #d35400;
	border-color: #d35400;
}
.talk {
	background-color: #8e44ad;
	border-color: #8e44ad;
}
.todo {
	background-color: #27ae60;
	border-color: #27ae60;
}
.brainstorm {
	background-color: #2980b9;
	border-color: #2980b9;
}
.resize {
	background-color: #2c3e50;
	border-color: #2c3e50;
}


/*keypad style: join keypad page*/
.keys {
	left: 50%;
	width: 60%;
	height: 25%;
	margin-left: -30%;
	bottom: -500px;
	transition: .75s ease;
}
.key {
	width: 33.333333%;
	height: 33.333333%;
	float: left;
	background-color: #333;
	font-size: 50%;
	cursor: pointer;
	margin-top: -1px;
}
.key a {
	width: 10%;
	margin: 10% auto;
	margin-top: 5%;
	font-size: 3vh;
}


/*Home Tile page*/
main{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.tile > img {
	margin-left: 25px;
	margin-top: 25px;
}
.tile {
	border: none;
	margin: none;
	float: left;
	width: 33.49%;
	height: 50%;
	padding: 0;
	margin-left: -5px;
}
.tile a {
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	margin-top: -10px;
}
.main a {
	top: 30px;
}
.main {background-color: #2c3e50;}


/*Generic sidebar*/
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0px;
	background-color: #CCC;
	width: 10%;
	padding: 0;
	margin: 0;
}
.sidebar .button {
	width: 100%;
	height: 12%;
	padding-left: 2%;
	padding-right: -2%;
	padding-top: 5%;
	padding-bottom: -5%;
}
.sidebar.current {
	width: 105%;
	height: 12%;
	padding-left: 2%;
	padding-right: -2%;
	padding-top: 5%;
	padding-bottom: -5%;
}


/*Generic work page styles*/
.element {
	position: absolute;
	top: 0;
	left: 10%;
	right: 0;
	bottom: 0;
}


/*Shortlist page styles*/
.addItem {
	margin-top: 5%;
}
.todoItem {
	margin: 0% 0% 0% 7.5%;
	border-top: 4px solid #27ae60;
	padding: 20px;
	width: 85%;
	float: left;
}
.todoItem img {
	float: left;
	width: 50px;
	margin-right: 5px;
}
.todoItem.done a,.todoItem.done img {opacity: 0.25;}
.todoItem a {
	float: left;
	margin-left: 5px;
}
.todoItemHolder {margin-top: 5%;}


/*drawingboard page styles*/
.board {
	width: 100%;
	height: 100%;
	background-color: white;
}
.tools {
	position: fixed;
	top: 0;
	right: 0;
	width: 100px;
	background-color: #f39c12;
	height: 100%;
}


/*random stuffs*/
.noscroll {overflow: hidden;}


/*Shortlist page styles*/
.addItem {
	margin-top: 5%;
}
.stormItem {
	margin: 0% 0% 0% 7.5%;
	border-top: 4px solid #27ae60;
	padding: 20px;
	width: 35%;
	float: left;
}
.stormItem img {
	width: 50px;
	margin-right: 5px;
	float: right;
}
.stormItem.done a,.todoItem.done img {opacity: 0.25;}
.stormItem a {
	float: left;
	margin-left: 5px;
}
.stormItemHolder {margin-top: 5%;}